opencv-python~=4.9.0.80
numpy==1.24.4 # changed
psutil~=5.9.8
pymongo~=4.6.1
#networkx~=3.2.1 # disabled
pgmpy~=0.1.25
matplotlib~=3.7.5 # changed
pandas~=1.5.3
joblib~=1.3.2
scikit-learn~=1.3.2 # changed
scipy~=1.10.0 # changed
GPUtil~=1.4.0
requests~=2.31.0
Flask~=3.0.0
netifaces~=0.11.0
pyzbar~=0.1.9
prometheus-api-client~=0.5.5
prometheus-client~=0.16.0
easydict~=1.13
wget~=3.2
tqdm~=4.66.4